{
  "presets": [
    [ "env", { "loose": true } ],
    "flow",
    "react"
  ],
  "plugins": [
    "dynamic-import-webpack",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    "relay"
  ]
}
