{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": ["flowtype"],
    "rules": {
        "max-len": [2, 180],
        "object-curly-newline": [0, {
            ObjectExpression: { minProperties: 4, multiline: true, consistent: true },
            ObjectPattern: { minProperties: 4, multiline: true, consistent: true }
        }],
        "react/jsx-curly-spacing": [2, "always", { "spacing": { "objectLiterals": "never" }}],
        "space-in-parens": [0, "always"],
        "space-unary-ops": [2, { "words": true, "nonwords": true }],
        "template-curly-spacing": [2, "always"]
    }
}
