<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="fragment" content="!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <% for (const index in assets.stylesheets) { %>
      <link href="<%= assets.stylesheets[index] %>" rel="stylesheet" key="<%= assets.stylesheets[index] %>" />
    <% } %>
  </head>
  <body>
    <% for (const index in assets.scripts) { %>
        <script defer type="text/javascript" src="<%= assets.scripts[index] %>" key="<%= assets.scripts[index] %>"></script>
    <% } %>
  </body>
</html>
